// Specific CSS for your home-page


// .container {
//   margin: 0;
//   padding: 0;
// }

.home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
  width: 100vw;
  background-image: asset-url('backgrounds/5509862.jpg');
  background-size: cover;
}

// .home-title {
//   color: $light-green;
//   font-size: 3em;
//   margin-bottom: 30px;
//   text-shadow: 1px 1px 5px $black;
// }

.home-description {
  color: $ice;
  font-size: 1.5em;
  margin: 50px 0;
  text-shadow: 1px 1px 5px $black;
}

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 70px;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 50px 0;
}



// .my-btn,
// .my-btn-booking {
//   // background-color: $light-green;
//   border: 1px solid $green;
//   margin: 0 20px;
//   border-radius: 10px;
//   font-size: larger;
// }

// .my-btn {
//   &:hover {
//     color: $green;
//     background-color: $ice;
//   }

//   color: $ice;
// }

// .my-btn-booking {
//   &:hover {
//     color: $green;
//     background-color: $ice;
//   }

//   background-color: $green;
//   color: $ice;
// }

.my_home_button {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  width: fit-content;
  color: $ice;
  background-color: $green;
  border: 2px solid $green;

  &:hover {
    color: $green;
    border: 2px solid $green;
    background-color: whitesmoke;
  }
}

.my_secondary_home_button {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  width: fit-content;
  color: $ice;
  background-color: transparent;
  border: 2px solid $green;

  &:hover {
    color: $green;
    border: 2px solid $green;
    background-color: whitesmoke;
  }
}

.home-logo {
  width: 350px;
}
