
<div class="container form-container ">
  <h1>Your booking for <%= @booking.spaceship.name %> was created </h1>

  <p>You can ride your spaceship to the outer space between <%= @booking.start_date %>
  and <%= @booking.end_date %></p>

  <%= link_to "Book another spaceship", root_path, class: "btn btn-primary my_button mt-3" %>
</div>
