<footer class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p class="footer-title">Galaxy Getaways: taking you to outer space.</p>
    <p class="footer-owners">Coded by: Brenda, Jan, Jelena and Frank</p>
  </div>
</footer>
