<div class="home-background">
  <div class="home-container">
    <%= image_tag "logos/logo-light.png", class: "home-logo" %>
    <p class="home-description">Sky is not the limit: to infinity and beyond</p>
    <div class="home-buttons-container">
      <%= link_to "Book a spaceship", spaceships_path, class:"btn btn-primary my_home_button"%>
      <%= link_to "List your spaceship", new_spaceship_path, class: 'btn btn-primary my_secondary_home_button'%>
    </div>
  </div>
</div>
