<div class="home-background">
  <div class="home-container">
    <%= image_tag "logos/logo-light.png" %>
    <%# <h1 class="home-title">Galactic Getaways</h1> %>
    <p class="home-description">Sky is not the limit: to infinity and beyond</p>
    <div class="home-buttons-container">
      <%= link_to "Book a spaceship", spaceships_path, class:"btn my-btn-booking"%>
      <%= link_to "List your spaceship", new_spaceship_path, class: 'btn my-btn'%>
    </div>
  </div>
</div>
