

<div class="grid_index">
  <% @spaceships.each do |spaceship| %>
      <div class="card_index">

           <%# <%= cl_image_tag spaceship.photos.first.key %>
           <%# <%= cl_image_tag spaceship_url, height: 300, width: 400, crop: :fill %>

        <div class="card_body">
          <h2 class="card-title"><%= spaceship.name %></h2>
          <%= link_to "Start journey", spaceship_path(spaceship), class: 'btn btn-primary' %>
        </div>
      </div>
  <% end %>
</div>
