.my_input {
  background-color: #F2F2F2;
  color: #8552F2;
  border-radius: 10px;
}

.my_input::placeholder {
  color: #8552F2;
}

.searchbar::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}

.searchbar {
  background: none;
  padding-left: 15px;
  padding: 4px 4px;
  margin-right: 10px;
  border-radius: 20px;
  border: solid 1px $ice;
  color: $ice;

  &:hover {}
}

.searchbutton {
  border: none;
  background: none;
  color: $ice;
}
