.my_input {
  background-color: #F2F2F2;
  color: #8552F2;
  border-radius: 10px;
}

.my_input::placeholder {
  color: rgba(157, 121, 176, 0.6);
}

.searchbar::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.searchbar {
  background: none;
  padding: 4px 16px;
  margin-right: 10px;
  border-radius: 20px;
  border: solid 1px $ice;
  color: $ice;
  &:hover {
    border: solid 1px $light-green;
  }
}

.searchbutton {
  border: none;
  background: none;
  color: $ice;
  &:hover {
    color: $light-green;
  }
}
