.navbar-lewagon {
  justify-content: space-between;
  background: $dark_blue;
  color: $ice;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: $ice;

  &:hover {
    color: $light-green;
  }
}
