.navbar-lewagon {
  justify-content: space-between;
  background: $dark_blue;
  color: $ice;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: $ice;

  &:hover {
    color: $light-green;
  }
}

.container-avatar-search {
  display: flex;
  align-items: center;
}

.container-fluid {
  margin: 0 15px
}

.navbar-brand {
  margin-right: 30px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
